<!--//corporate starts-->

<div class="colorshadow">
    <div class="d-flex justify-content-center txt"  >
      <div class="text-field">
       <h1 class="text-center heading">CORPORATE<br>MEMBERSHIP</h1>
      <div  class="d-flex justify-content-center">
        <p class=" col-6 text-center text-justify txtpara display-5">
          ICT Academy of Kerala is pleased to offer ‘ICTAK Corporate Membership’ to a select set of leading organizations in the country. 
          Through this membership, ICTAK would like to unlock the value of a Corporate – Academia collaboration through its wide network of corporate and academic partners.
        </p>
      </div>
      <div class="d-flex justify-content-center ">
        <button class=" btn-apply">CONTACT US</button>
        
        <button class="btn-apply" routerLink="/register">REGISTER NOW</button>
      </div>
    </div>
    </div>
    <!-- //benifits section -->
    <div class="gradient2">
      <div class="container mt-4">
        <div class="row">
      <div class=" d-flex justify-content-center benifits-head" >
        <h1 class="benifit-heading">BENEFITS</h1>
      </div>
        </div>
      <!-- //card1 -->
      <div class="cards">
        <div class="card d-flex justify-content-center" style="width: 18rem;">
          <h1 class="text-center card-heading">Collaborate</h1>
          <div class="card-body">
              <ul class="card-text display-5">
                <li>Collaborate with the flagship skills development organization in the state supported Govt. of India and partnered by Govt. of Kerala. </li>
      
              </ul>
          </div>
        </div>
        <!-- //card2 -->
        <div class="card d-flex justify-content-center" style="width: 18rem;">
          <h1 class="text-center card-heading">Corporate trainings benefits</h1>
          <div class="card-body">
            <ul class="card-text ">
              <li>Participate in our corporate trainings and workshops at ‘Member rates’ (up to 20% discount)</li>
             
            </ul>
          </div>
        </div>
        <!-- //card3 -->
        <div class="card d-flex justify-content-center" style="width: 18rem;">
          <h1 class="text-center card-heading">Interactions</h1>
          <div class="card-body">
            <ul class="card-text">
              <li>Access to over hundred Engineering and Non-engineering educational institutions in the state of Kerala for campus recruitment/internships 
                and for collaborative research with Academia.</li>
    
            </ul>
          </div>
        </div>
    <!--//Card4-->
    <div class="card d-flex justify-content-center" style="width: 18rem;">
      <h1 class="text-center card-heading">Recruitments</h1>
      <div class="card-body">
        <ul class="card-text">
          <li>Access to ICT Academy trained pool of candidates for your manpower requirements.</li>
    
        </ul>
      </div>
    </div>
      </div>
        </div>
    </div>
    <!--//counter-->
    
    <br> 
    
    
    <div class="d-flex justify-content-center benifits-head" >
      <h1 class="benifit-heading-text-center"><b>Number of candidates trained on various skills in FY 20-21</b></h1>
    </div>
    <br>
    <div class="candidates">
      <div class="cards">
    <div class="text-center-candidates-card"style="width: 15rem;">
      <h1 class="candidates-no number text-cente">{{roboticpro}}</h1><br>
  
      <span class="text-center cards-heading">Robotic Process Automation</span>
      </div>
    
      <div class="text-center-candidates-card"style="width: 15rem;">
      <h1 class="candidates-no number text-center">{{fullstack}}</h1><br>
      <span class="text-center cards-heading">FullStack development</span>
      </div>
      <div class="text-center-candidates-card"style="width: 15rem;">
      <h1 class="candidates-no number text-center">{{datascience}}</h1><br>
      <span class="text-center cards-heading">DataScience and Analytics</span>
       </div>
      <div class="text-center-candidates-card"style="width: 15rem;">
      <h1 class="candidates-no number text-center">{{digitalmark}}</h1><br>
      <span class="text-center cards-heading">Digital Marketing</span>
     </div>
    </div>
</div>
      <!--commercial-->
          <div class="txt">
            <div>
              <h2 class="text-center heading">Commercial and validity period</h2><br>
            </div>
            <div  class="d-flex justify-content-center">
              <p class=" col-6 text-center text-justify txtpara display-5">
                The industry membership programme will be offered based on an internal accreditation process and shall be valid for three years. 
                The membership will be free for selected industry partners.
              </p>
            </div>
    
          </div>
    </div>
    
